<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; {{currentYear}} Wild and Beyond. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <ul class="list-inline text-md-end">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/vivekdoshiphotography" class="text-white" title="Facebook" target="_blank" rel="noopener">  <i class="fa-brands fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://x.com/vivekdoshi11" class="text-white" title="X" target="_blank" rel="noopener"><i class="fa-brands fa-square-x-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/wildandbeyondbyvivek" class="text-white" title="Instagram" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.threads.net/@wildandbeyondbyvivek" class="text-white" title="Threads" target="_blank" rel="noopener"><i class="fa-brands fa-threads"></i></a>
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
