main {
  background: url("/assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Edu AU VIC WA NT Pre", serif;
  padding-top: 2rem;
  .block-intro {
    .about-me {
      font-size: 1.7rem;
      font-weight: 400;
    }
    .avatar {
      background-image: url(/assets/me.jpg);
      width: 10rem;
      height: 10rem;
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
      border-radius: 10rem;
      margin-bottom: 30px;
    }
  }
  .portfolio-skills {
    .heading {
      margin-bottom: 3rem;
      h1 {
        text-decoration: underline;
      }
    }
    margin-top: 3rem;
    .card {
      background: rgba(255, 0, 0, 0.08);
      color: #fff;
      .card-header {
        font-size: 3rem;
      }
      padding: 2rem;
    }
  }
}
