<main class="flex-fill min-vh-100">
    <section class="block-intro">
        <div class="container">
            <div class="avatar"></div>
            <div class="about-me text-center">
                <p>Hello! I am <strong>Vivek Doshi</strong>. I work as Software Professional and Photographer. I have passion for capturing Love, Emotions, Nature and Wildlife</p>
            </div>
        </div>
    </section>

    <section class="portfolio-skills">
        <div class="container">
            <div class="heading  text-center">
                <h1>My Affinities</h1>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon fa-solid fa-hippo" aria-hidden="true"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Wildlife</h3>
                            <p class="card-text"> The patience and perseverance to wait for the right moment, and the courage and respect to approach wildlife without disturbing them. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon fa-solid fa-earth-asia" aria-hidden="true"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Landscapes</h3>
                            <p class="card-text"> A creative vision to discover striking vantage points and foreground elements that add dynamism and depth..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon fa-solid fa-camera" aria-hidden="true"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Videos</h3>
                            <p class="card-text">Getting started with Aerial Imaging and Cinemetography</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>